
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Liste des produits", "List", "List");
<br />
@Html.ActionLink("Ajouter un produit", "GetAjouterList", "List");
<br />
@Html.ActionLink("Acheter des produits", "GetPanier", "Buy");

