
@{
    ViewBag.Title = "Achat";
}

<h2>Achat</h2>

@if (ViewBag.panier != null)
{
    foreach (WebSession.Models.Item item in ViewBag.panier)
    {
        <p>@item.Id  @item.Nom</p>
    }
}

<br />
@Html.ActionLink("Panier", "GetPanier", "Buy");

